/* styles.css */

html, body {
  height: 100%; /* Asegurar que el fondo abarque toda la página */
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #1c1c1c; /* Fondo oscuro */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
  width: 100%;
    margin: 20px;
}

h1, h2 {
  color: #e0e0e0; /* Texto claro para contraste */
  font-weight: bold;
  margin-bottom: 20px;
}

.navbar {
  margin-bottom: 40px;
  background-color: #2b2b2b !important; /* Fondo del navbar más oscuro */
  border-radius: 10px;
  padding: 20px;
}

.navbar-brand {
  font-weight: bold;
  color: #ffffff !important;
}

.navbar-nav .nav-link {
  color: #ffffff !important;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
}

.navbar-nav .nav-link:hover {
  background-color: #495057;
}

footer {
  background-color: #bdbdbd ;
  color: #000000;
  padding: 15px 0;
  text-align: center;
  width: 100%;
  bottom: 0;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
  background-color: #ffffff;
  margin-bottom: 40px;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  text-align: left;
  padding: 30px;
}

.card-body button {
  margin-right: 10px;
  background-color: #2b2b2b; /* Botones oscuros */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.card-body button:hover {
  background-color: #495057;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 15px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.btn {
  background-color: #2b2b2b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #495057;
}

p {
  color: #dc3545;
  font-weight: bold;
  margin-top: 20px;
}
.bg-light {
  background-color: #2b2b2b;
  }

@media (max-width: 768px) {
  .navbar-nav {
      text-align: center;
  }

  .navbar-nav .nav-link {
      display: block;
      margin: 5px 0;
  }

  .card {
      margin-bottom: 20px;
  }
}
